body {
	margin: 0;
	padding: 0;
	background-color: white;
}

header {
	
	width: 100%;
	display: block;
	background-color: #33cec3;
	color: #00665e;
}

article {
	display: block;
}

footer {
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	padding-top: 20px;
	background-color: #00665e;
	color: #5dcec6;
	padding-bottom: 20px;
	text-align: center;
	font-style: italic;
	margin-top: 15px;
}


/*section {
	width: 100%;
	float: left;
	clear: left;
}*/

h1 {
	background-color: #00665e;
	color: #5dcec6;
	margin: 0;
	padding: 10px;
}

h5, h3 {
	margin: 10px auto 10px 10px;
	padding: 10px;
	background-color: 
}

input {
	margin: 10px auto 10px 10px;
}



span.new-search-item, span.cancel, span.destroy, span.edit, span.add{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #33c3d7;
	color: #00665e;
	margin: 100px 20px 30px 10px;
	border-radius: 5px;
	position: relative;
	top: 5px;
}
/*
span.add {
	margin-top: 50px;
}*/

a:link, a:visited{
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #33c3d7;
	color: #00665e;
	margin: 10px 0 0 10px;
	border-radius: 5px;
}

a:hover, a:active {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: none;
	padding: 7px 10px 7px 10px;
	background-color: #006363;
	color: #33c3d7;
	margin: 10px 0 0 10px;
	border-radius: 5px;
}

div.container {
	display: block;
	margin-top: 170px;
	height: 700px;
	margin: 0 auto;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/assets/Congress-4A.png');
}

div.floor {
	display: inline-block;
	width: 39%;
	height: 320px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('/assets/senate-floor.png');
	float: right;
	/*float: left;*/
}

div.chart {
	display: inline-block;
	float: left;
	/*clear: left;*/
	width: 60%;
}

div#search-item-form {
	margin-bottom: 10px;
}

div#search-item-list {
	width: 400px;
	background-color: hsla(180,100%,50%,0.3);
	z-index: 1;
	padding: 10px 0 20px 0;
}

/*.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}*/
