<!DOCTYPE html>
<html>
<head>
  <title>Senatorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Senatorial</h1>
  </header>
  <div id='search-item-form'></div>
  <div id='search-item-list'>
    <span class='add'>Add a Search Item</span>
  </div>
  <div id='senator-list'>
    <span class='add-senator'></span>
  </div>
  <div id='congress-record-list'>
    <span class='add-congress-record'><h2>Congressional Records Chart</h2><h3>Showing use of phrase in Conress by senators during prior months</h3></span>
  </div>

  <footer>Brought to you by a former fan of C-SPAN: America's Network!!!
  </footer>

  <!-- Template for showing search items along with Delete, Edit and Run Search -->
  <script type="text/x-handlebars-template" id="search-item-template">
    <div id={{id}}>
      <h3>States: {{state1}} and {{state2}}, using search phrase: {{phrase}}</h3>
      <span class='destroy'>Delete</span>
      <!-- <span class='edit'>Edit</span>

      <a class='runlink' href="#/senators/{{state1}}/{{state2}}/{{phrase}}">
      <span class='run'>Run Search</span>
      </a>
    </div> -->
  </script>

  <!-- Template for form for adding new searchItems -->
  <script type="text/x-handlebars-template" id='search-item-form-template'>
    <div class='search-item-form-div'>
      <input type="text" name="state1" value="first state" placeholder="{{state1}}">
      <input type="text" name="state2" value="second state" placeholder="{{state2}}">
      <input type="text" name="phrase" value="phrase" placeholder="{{phrase}}">
      {{#if this}}
      <span class='edit-search-item'>Edit Search Item</span>
      {{else}}
      <span class='new-search-item'>New Search Item</span>
      {{/if}}
      <span class='cancel'>Cancel</span>
    </div>
  </script>

  <!-- Template for adding new senators -->
  <script type="text/x-handlebars-template" id="senator-template">
  </script>

  <!-- Template for showing new congressRecords -->
  <script type="text/x-handlebars-template" id="congress-record-template">
    <div id={{id}}>

      <div id="chart2{{id}}"></div>

      <span class='add-congress-record'></span>
     
    </div>
  </script>

  <script>

    // Variable being abandoned
    LineChartVar = '';

    // This starts everything!!!
    App = {
      Models: {},
      Views: {},
      Collections: {},
      TempData: {},
      // Being abandoned
      LineChart: {}
    };

    // Instantiate searchItems collection. Does not fetch yet
    App.TempData.searchItems = <%= @search_items.to_json.html_safe %>;

    // Instantiate LineChart - being abandoned 
    App.LineChart = [];

    
    // // Instantiate congressRecords collection. Does not fetch yet
    // App.TempData.congressRecords = {};

    // // Instantiate linechart variable. Does not set yet
    // App.TempData.linechart = {};

  </script>

  <%= javascript_include_tag "application" %>

</body>
</html>
