<!DOCTYPE html>
<html>
<head>
  <title>Senatorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h4>SITE UNDER CONSTRUCTION!!! Return on Monday, November 17th</h4>
  </header>
  <div id='search-item-form'></div>
  <div id='search-item-list'>
    <span class='add'>Add a Search Item</span>
  </div>
  <div id='senator-list'>
    <span class='add-senator'></span>
  </div>
  <div id='congress-record-list'>
    <span class='add-congress-record'><h2>Congressional Records Chart</h2></span>
  </div>

  <!-- Template for showing search items along with Delete, Edit and Run Search -->
  <script type="text/x-handlebars-template" id="search-item-template">
    <div id={{id}}>
      <h5>States: {{state1}} and {{state2}}, using search phrase: {{phrase}}</h5>
      <span class='destroy'>Delete</span>
      <span class='edit'>Edit</span>
  // <!--   not using data-state1 attribute below -->
      <a class='runlink' href="#/senators/{{state1}}/{{state2}}/{{phrase}}">
        <span class='run' data-state1="{{state1}}">Run Search</span>
      </a>
    </div>
  </script>

  <!-- Template for form for adding new searchItems -->
  <script type="text/x-handlebars-template" id='search-item-form-template'>
    <div class='search-item-form-div'>
      <input type="text" name="state1" value="first state" placeholder="{{state1}}">
      <input type="text" name="state2" value="second state" placeholder="{{state2}}">
      <input type="text" name="phrase" value="phrase" placeholder="{{phrase}}">
      {{#if this}}
      <span class='edit-search-item'>Edit Search Item</span>
      {{else}}
      <span class='new-search-item'>New Search Item</span>
      {{/if}}
      <span class='cancel'>Cancel</span>
    </div>
  </script>

  <!-- Template for adding new senators -->
  <script type="text/x-handlebars-template" id="senator-template">
  </script>

  <!-- Template for showing new congressRecords -->
  <script type="text/x-handlebars-template" id="congress-record-template">
    <div id={{id}}>

      <div id="chart1{{id}}">New congressRecords chart</div>
      <div id="chart2{{id}}">New congressRecords chart</div>

      <span class='add-congress-record'>New congress record</span>
      <h5>senator_name: {{senator_name}} with bioguideid: {{bioguideid}}, having recordCounts: {{recordCounts}}</h5>
    </div>
  </script>

  <!-- Template for showing new linechart -->
  <script type="text/x-handlebars-template" id="linechart-template">
    <div id={{id}}>

      <span class='addlinechart'>New linechart</span>
    </div>
   </script>

  <script>

    LineChartVar = '';

    App = {
      Models: {},
      Views: {},
      Collections: {},
      TempData: {}
    };

    // Instantiate searchItems collection. Does not fetch yet
    App.TempData.searchItems = <%= @search_items.to_json.html_safe %>;

    // // Instantiate senator collection. Does not fetch yet
    // App.TempData.senators = {};

    
    // // Instantiate congressRecords collection. Does not fetch yet
    // App.TempData.congressRecords = {};

    // // Instantiate linechart variable. Does not set yet
    // App.TempData.linechart = {};

  </script>

  <%= javascript_include_tag "application" %>

</body>
</html>
