<!DOCTYPE html>
<html>
<head>
  <title>Senatorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    
  </header>
  <div id='search-item-form'></div>
  <div id='search-item-list'>
    <span class='add'>Add a Search Item</span>
  </div>


<script type="text/x-handlebars-template" id="search-item-template">
  <div id={{id}}>
    <h5>{{state1}} and {{state2}} using search phrase {{phrase}}</h5>
    <span class='destroy'>Delete</span>
    <span class='edit'>Edit</span>
  </div>
</script>

<script type="text/x-handlebars-template" id='search-item-form-template'>
  <div class='search-item-form-div'>
    <input type="text" name="state1" value="first state" placeholder="{{state1}}">
    <input type="text" name="state2" value="second state" placeholder="{{state2}}">
    <input type="text" name="phrase" value="phrase" placeholder="{{phrase}}">
    {{#if this}}
    <span class='edit-search-item'>Edit Search Item</span>
    {{else}}
    <span class='new-search-item'>New Search Item</span>
    {{/if}}
    <span class='cancel'>Cancel</span>
  </div>
</script>

<script type="text/x-handlebars-template" id="senator-template">
  <div id={{id}}>
    <h5>{{sr_senator}} and {{jr_senator}}</h5>
    <span class='run'>Run Search</span>
  </div>
</script>

<script>
  App = {
    Models: {},
    Views: {},
    Collections: {},
    TempData: {}
  };

  // Instantiate searchItem collection. Does not fetch yet
  App.TempData.searchItems = <%= @search_items.to_json.html_safe %>;
</script>

<%= javascript_include_tag "application" %>

</body>
</html>
