<!DOCTYPE html>
<html>
<head>
  <title>Senatorial</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="c3.css" rel="stylesheet" type="text/css">
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h2>SITE UNDER CONSTRUCTION!!! Return on Monday, November 17th</h2>
  </header>
  <div id='search-item-form'></div>
  <div id='search-item-list'>
    <span class='add'>Add a Search Item</span>
  </div>
  <div id='senator-list'>
    <span class='addsenator'></span>
  </div>
    <div id='congress-record-list'>
    <span class='addcongressrecord'></span>
  </div>


<script type="text/x-handlebars-template" id="search-item-template">
  <div id={{id}}>
    <h5>States: {{state1}} and {{state2}}, using search phrase: {{phrase}}</h5>
<!--    // <h5>Senators: {{sr_senator}} and {{jr_senator}}</h5> -->
    <span class='destroy'>Delete</span>
    <span class='edit'>Edit</span>
<!--    // not using data-state1 attribute below -->
    <a class='runlink' href="#/senators/{{state1}}/{{state2}}/{{phrase}}">
      <span class='run' data-state1="{{state1}}">Run Search</span>
    </a>

  </div>
</script>

<script type="text/x-handlebars-template" id='search-item-form-template'>
  <div class='search-item-form-div'>
    <input type="text" name="state1" value="first state" placeholder="{{state1}}">
    <input type="text" name="state2" value="second state" placeholder="{{state2}}">
    <input type="text" name="phrase" value="phrase" placeholder="{{phrase}}">
    {{#if this}}
    <span class='edit-search-item'>Edit Search Item</span>
    {{else}}
    <span class='new-search-item'>New Search Item</span>
    {{/if}}
    <span class='cancel'>Cancel</span>
  </div>
</script>

<!-- Senators, or just one at a time??? -->
<script type="text/x-handlebars-template" id="senator-template">
  <div id={{id}}>
    <div class='senior senator'><h5>{{this.sr_senator}}</h5></div>
    <div class='junior senator'><h5>{{this.jr_senator}}</h5></div>
    // we are not really adding senators to a list, just showing above?
    <span class='addsenator'></span>
  </div>
</script>

<!-- CongressRecords -->
<script type="text/x-handlebars-template" id="congress-record-template">
  <div id={{id}}>
    <div class='congressrecord'><h5>{{congressrecord}}</h5></div>
    <div class='congressrecorddate'><h5>{{congressrecorddate}}</h5></div>
    // we are not really adding senators to a list, just showing above?
    <span class='addcongressrecord'></span>
  </div>
</script>

<script>
  App = {
    Models: {},
    Views: {},
    Collections: {},
    TempData: {}
  };

  // Instantiate searchItem collection. Does not fetch yet
  App.TempData.searchItems = <%= @search_items.to_json.html_safe %>;
</script>

<%= javascript_include_tag "application" %>

</body>
</html>
